{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "babel-plugin-optimize-clsx",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true }],
    ["@babel/plugin-transform-runtime", { "useESModules": true }],
    "@babel/plugin-transform-object-assign",
    "babel-plugin-transform-react-constant-elements",
    "babel-plugin-transform-dev-warning",
    [
      "babel-plugin-react-remove-properties",
      { "properties": ["data-mui-test"] }
    ],
    [
      "babel-plugin-transform-react-remove-prop-types",
      {
        "mode": "unsafe-wrap"
      }
    ]
  ]
}
